.background {
    viewport-fill: black;
}

#clockText {
    font-size: 100;
    font-family: Fabrikat-Bold;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 50%+30;
    fill: white;
}

#clockTextAM {
    font-size: 30;
    font-family: Fabrikat-Bold;
    text-length: 2;
    text-anchor: end;
    x: 100%-8;
    y: 50%-15;
    fill: yellow;
    opacity: 0.8;
}

#clockTextPM {
    font-size: 30;
    font-family: Fabrikat-Bold;
    text-length: 2;
    text-anchor: end;
    x: 100%-8;
    y: 50%+25;
    fill: yellow;
    opacity: 0.8;
}

#dateText {
    font-size: 60;
    font-family: Tungsten-Medium;
    text-length: 50;
    text-anchor: middle;
    x: 50%;
    y: 50%+90;
    fill: chartreuse;
    opacity: 0.8;
}

#weekText {
    font-size: 60;
    font-family: Tungsten-Medium;
    text-length: 50;
    text-anchor: middle;
    x: 50%;
    y: 50%-60;
    fill: chartreuse;
    opacity: 0.8;
}

.stats {
    font-size: 30;
    font-family: Fabrikat-Bold;
    fill: grey;
    text-length: 10;
}

.icon {
    width: 24;
    height: 24;
}

#heartRateText {
    x: 100%-30;
    y: 30;
    text-anchor: end;
}

#heartRateIcon {
    x: 100%-30;
    y: 7;
    fill: red;
    opacity: 0.7;
}

#batteryText {
    x: 50%;
    y: 30;
    text-anchor: middle;
}

#activeText {
    x: 30;
    y: 30;
    text-anchor: start;
}

#activeIcon {
    x: 5;
    y: 7;
    fill: yellow;
    opacity: 0.7;
}

#lockIcon {
    x: 50%-12;
    y: 100%-20;
    /*fill: yellow;*/
    visibility: hidden;
}

#floorsText {
    x: 100%-30;
    y: 100%-10;
    text-anchor: end;
}

#floorsIcon {
    x: 100%-30;
    y: 100%-32;
    fill: green;
}

#stepsText {
    x: 30;
    y: 100%-10;
    text-anchor: start;
}

#stepsIcon {
    x: 5;
    y: 100%-32;
    fill: #7777ff;
    opacity: 0.7;
}

#secondsCircle {
    width: 100%-15;
    height: 100%-15;
    x: 10;
    y: 10;
    fill: red;
    opacity: 0.7;
}

#lockTextBg {
    width: 100%;
    height: 40;
    x: 0;
    y: 100%-40;
    fill: green;
    visibility: hidden;
}

#lockText {
    x: 50%;
    y: 100%-15;
    fill: white;
    visibility: hidden;
    text-length: 100;
    font-size: 30;
    text-anchor: middle;
}

/* LABEL SECTION*/

.healthLabel {
    text-anchor: end;
    x: 50%-60;
    font-weight: bold;
    font-family: Fabrikat-Bold;
    text-length: 6;
    font-size: 35;
}

#statsHeartRateIconTextL1 {
    fill: red;
    y: 42;
}

#statsHeartRateIconTextL2 {
    fill: red;
    y: 72;
}

#statsPaceLabel {
    y: 160;
    fill: yellow;
}

#statsStepsLabel {
    y: 217;
    fill: #7777ff;
    font-size: 30;
}

#statsFloorsLabel {
    y: 247;
    fill: green;
    font-size: 30;
}

/* STATS SECTION*/

.health {
    fill: white;
    x: 50%-55;
    text-anchor: start;
    font-size: 40;
    text-length: 10;
}

#statsHeartRateText {
    y: 80;
    font-size: 100;
}

#statsZoneText {
    y: 105;
    x: 50%-30;
    font-size: 30;
    font-weight: bold;
    fill: white;
}

#statsPaceText {
    y: 160;
    font-size: 45;
}

#statsStepsText {
    y: 217;
    font-size: 35;
}

#statsFloorsText {
    y: 247;
    font-size: 35;
}

#statsTime {
    text-length: 20;
    fill: #dddddd;
    x: 50%;
    y: 280;
    text-anchor: middle;
    font-size: 30;
}

/* SEPARATOR SECTION */

.chapter {
    font-size: 20;
    text-length: 50;
    fill: lightgray;
    x: 10;
    text-anchor: start;
}

#last-minute {
    y: 123;
}

#last-five-minutes {
    y: 185;
}

/* TODAY ACTIVITY SECTION */

#today text {
    text-length: 10;
}

#todayLabel {
    text-anchor: middle;
    font-size: 25;
    font-weight: bold;
    fill: lightgray;
    x: 50%;
    y: 30;
}

#todayAMLabel {
    x: 25%+5;
    y: 60;
    fill: yellow;
}

#todayAMText {
    x: 25%;
    y: 110;
    font-size: 50;
}

.todayAMZone {
    text-anchor: end;
    font-size: 23;
    x: 100%-58;
    font-weight: bold;
}

#todayZone1 {
    fill: #f9a513;
    y: 60;
}
#todayZone2 {
    fill: #f17719;
    y: 85;
}
#todayZone3 {
    fill: #e91f38;
    y: 110;
}

.todayAZText {
    text-anchor: start;
    fill: white;
    font-size: 23;
    font-family: Fabrikat-Bold;
    x: 100%-50;
}

#todayAMZ1Text {
    y: 60;
}
#todayAMZ2Text {
    y: 85;
}
#todayAMZ3Text {
    y: 110;
}

/* STEPS, ELEVATION ETC. */

.todayLabel {
    text-anchor: middle;
    font-size: 25;
    font-weight: bold;
    font-family: Fabrikat-Bold;
}

.todayText {
    font-size: 40;
    text-anchor: middle;
    fill: white;
}

#todayStepsLabel {
    x: 25%;
    y: 140;
    fill: #7777ff;
}
#todayStepsText {
    x: 25%;
    y: 180;
}

#todayDistLabel {
    x: 75%;
    y: 140;
    fill: #7777ff;
}
#todayDistText {
    x: 75%;
    y: 180;
}

#todayElevLabel {
    x: 25%;
    y: 210;
    fill: green;
}
#todayElevText {
    x: 25%;
    y: 250;
}

#todayCalLabel {
    x: 75%;
    y: 210;
    fill: orange;
}
#todayCalText {
    x: 75%;
    y: 250;
}
